*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  text-align:center;
}

h1{
  margin-bottom:16px;
  margin-top:120px;
}

p {
  color: #777777;
}

.contenedor{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-bottom:30px;
  margin-top:48px;
}

.item{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color: #f5f5f5;
  padding:24px;
  border-radius:16px;
}

.item img{
  width:250px;
  height:250px;
  object-fit:cover;
  margin-bottom:32px;
}

.item input{
  width:100px;
  padding:6px;
  text-align:center;
}

.resultado{
  margin-bottom:20px;
  font-size:20px;
  color: #555555;
}

button{
  padding:10px 20px;
  font-size:16px;
  border:none;
  background-color:#007bff;
  color:white;
  border-radius:5px;
  cursor:pointer;
}

button:hover{
  background-color:#0056b3;
}